.riskassessment {
    padding: 2% 4% 2% 4%;
    font-size: 12px;
   // background-color:  rgb(29, 30, 31);
    border:1px solid #aaafaf;
  
    .label {
      min-width: 8vw;
      display: inline-block;
      color:black;
    }
    .input {
      margin-right: 23%;
      min-width: 25%;
    }
  }
  .text{
    font-size: 12px;
    margin-top: -8px;
    color:#aaafaf;
  }
  .scale{
    margin-left:45%;
    .scalelabel{
      font-size: 12px;
      margin-right: 10px;
    }
    .select{
      font-size: 12px;
    }
  }
  .otherdetailstitle {
    margin-top: 2%;
    color:black;
  }
  .otherdetails {
    padding: 2% 4% 2% 4%;
    font-size: 12px;
    margin-bottom:2%;
   border:1px solid #aaafaf;
    .table {
      width: 100%;
      td {
        padding:6px 36px 6px 1px;
      }
    }
    .input {
      margin-right: 15%;
      min-width: 20%;
      color: black;
    }
    .box {
      margin-right: 1%;
    }
    .row1 {
      margin-top: 2%;
    }
    ion-checkbox {
      min-width: 16px;
      height: 16px;
      margin-right: 1%;
    }
  }
  .cancel{
    height: 36px;	
    width: 61px;
    font-size: 12px;
    margin-left:65%;
}
.save{
    height: 36px;	
    width: 61px; 
    font-size: 12px;
    margin-left: 3%;
}
  