<div class="risk">
    <h6 class="riskassessmenttitle" style="display: inline-block">Risk Assessment</h6>
    <p class="text">Select the appropriate risk assessment scale and then the appropriate value from the
      respective dropdown menus
    </p>
    <span class="scale" style="display: inline-block">
      <label class="scalelabel">Scale</label>
      <select class="select">
        <option value="volvo">Braden Scale</option>
        <option value="saab">Waterlow</option>
        <option value="opel">Norton</option>
      </select>
    </span>
    <form class="riskassessment">
      <ion-row class="row" style="display:flex; margin-bottom: 20px">
        <ion-col><label class="label">Sensory Perception</label></ion-col>
        <ion-col><select class="input" name="sensory_perception" [(ngModel)]="data.risk_assessment.sensory_perception">
            <option *ngFor="let sensory_perception of sensory_perceptions" [value]="sensory_perception">
              {{sensory_perception.value}}</option>
          </select>
        </ion-col>
        <ion-col>
          <label class="label">Mobility</label></ion-col>
        <ion-col><select class="input" name="mobility" [(ngModel)]="data.risk_assessment.mobility">
            <option *ngFor="let mobility of mobilitys" [value]="mobility">{{mobility.value}}</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row class="row1" style="display:flex;  margin-bottom: 20px">
        <ion-col><label class="label">Moisture</label></ion-col>
        <ion-col><select class="input" name="moisture" [(ngModel)]="data.risk_assessment.moisture">
            <option *ngFor="let moisture of moistures" [value]="moisture">{{moisture.value}}</option>
          </select>
        </ion-col>
        <ion-col>
          <label class="label">Nutrition</label></ion-col>
        <ion-col><select class="input" name="nutrition" [(ngModel)]="data.risk_assessment.nutrition">
            <option *ngFor="let nutrition of nutritions" [value]="nutrition">{{nutrition.value}}</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row class="row2" style="display:flex; margin-bottom: 20px">
        <ion-col><label class="label">Activity</label></ion-col>
        <ion-col><select class="input" name="activity" [(ngModel)]="data.risk_assessment.activity">
            <option *ngFor="let activity of activities" [value]="activity">{{activity.value}}</option>
          </select>
        </ion-col>
        <ion-col>
          <label class="label">Friction/shear</label></ion-col>
        <ion-col><select class="input" name="friction" [(ngModel)]="data.risk_assessment.friction_shear">
            <option *ngFor="let friction of frictions" [value]="friction">{{friction.value}}</option>
          </select>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <div class="others">
    <h6 class="otherdetailstitle">Other Factors</h6>
    <form class="otherdetails">
      <div class="row" style="display: flex">
        <ion-checkbox [(ngModel)]="data.other_factors.previous_pressure_injury" name="name"></ion-checkbox>
        <ion-label class="input">Previous Pressure Injury</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.kidney_disease" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Kidney Disease</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.anemia_or_haemoglobinopathies" name="name" placeholder="name"
          class="box"></ion-checkbox>
        <ion-label class="input">Anemia or Haemoglobinopathies</ion-label> <br>
      </div>
      <div class="row1" style="display: flex">
        <ion-checkbox [(ngModel)]="data.other_factors.diabetes" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Diabetes</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.respiratory_condition" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Respiratory Condition</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.bone_infections" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Bone Infections</ion-label> <br>
      </div>
      <div class="row1" style="display: flex">
        <ion-checkbox [(ngModel)]="data.other_factors.smoker" name="name" placeholder="name" class="box"></ion-checkbox>
        <ion-label class="input">Smoker</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.urogenital_condition" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Urogenital Condition</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.paralysis" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Paralysis</ion-label> <br>
      </div>
      <div class="row1" style="display: flex">
        <ion-checkbox [(ngModel)]="data.other_factors.cardiovascular_disease" name="name" placeholder="name"
          class="box"></ion-checkbox>
        <ion-label class="input">Cardiovascular Disease</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.sepsis" name="name" placeholder="name" class="box"></ion-checkbox>
        <ion-label class="input">Sepsis</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.muscular_dystrophy_myopathies" name="name" placeholder="name"
          class="box"></ion-checkbox>
        <ion-label class="input">Muscular Dystrophy Myopathies</ion-label> <br>
      </div>
      <div class="row1" style="display: flex">
        <ion-checkbox [(ngModel)]="data.other_factors.anti_coagulants" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Anti Coagulants</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.pneumonia" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Pneumonia</ion-label> <br>
        <ion-checkbox [(ngModel)]="data.other_factors.hip_or_knee_surgery" name="name" placeholder="name" class="box">
        </ion-checkbox>
        <ion-label class="input">Hip or Knee Surgery</ion-label> <br>
      </div>
    </form>