<ion-grid class="patient-dashboard">
  <ion-row>
    <ion-col size="12" class="heading-box">
      Patient Profile
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-row>
        <ion-col class="lite-black-bg">
          <div class="sub-heading-label">Patient Name</div>
          <div class="value">Jhon Smith</div>
          <div class="action-label">View Full Profile</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Status</div>
          <div class="value">Occupied</div>
          <div class="action-label">Stop monitoring</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Age</div>
          <div class="value">43</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Bed ID</div>
          <div class="value">001</div>
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="2">
      <ion-row>
        <ion-col>

          <div class="sub-heading-label">Hear Rate</div>
          <div class="xl-value">120</div>
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="2">
      <ion-row>
        <ion-col>
          <div class="sub-heading-label">Respiratory Rate</div>
          <div class="xl-value">62</div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="heading-box">
      Risk & Recommendations
    </ion-col>
  </ion-row>
  <ion-row class="p-top-15">
    <ion-col size="12">
      Risk Area
      <ion-row>
        <ion-col size="8" class="high-risk-text">
          Left Shoulder is at risk Left Shoulder is at riskLeft Shoulder is at riskLeft Shoulder is at risk
        </ion-col>
        <ion-col size="4">
          <img src="../../../assets/Risk_Aria.svg">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row class="p-top-15">
    <ion-col size="12">
      Recomendation
      <ion-row>
        <ion-col size="8" class="recomendation-text">
          Change position in next one hour.Change position in next one hour. Change position in next one hour.
        </ion-col>
        <ion-col size="4">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>