<ion-grid class="patient-dashboard">
  <ion-row>
    <ion-col size="12" class="heading-box">
      Patient Profile
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-row>
        <ion-col class="lite-black-bg">
          <div class="sub-heading-label">Patient Name</div>
          <div class="value">{{this.patientProfile.patient_name}}</div>
          <div class="action-label">View Full Profile</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Status</div>
          <div class="value">{{this.patientProfile.status}}</div>
          <div class="action-label">Stop monitoring</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Age</div>
          <div class="value">{{this.patientProfile.age}}</div>
        </ion-col>
        <ion-col>
          <div class="sub-heading-label">Bed ID</div>
          <div class="value">{{this.patientProfile.bed_id}}</div>
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="2">
      <ion-row>
        <ion-col>
          <div class="sub-heading-label">Heart Rate</div>
          <div class="xl-value">{{this.patientProfile.heart_rate}}</div>
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="2">
      <ion-row>
        <ion-col>
          <div class="sub-heading-label">Respiratory Rate</div>
          <div class="xl-value">{{this.patientProfile.respiratory_rate}}</div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="heading-box">
      Risk & Recommendations
    </ion-col>
  </ion-row>
  <ion-row class="p-top-15">
    <ion-col size="12">
      Risk Area
      <ion-row>
        <ion-col size="8" class="high-risk-text">
          {{this.risk.risk_area}}
        </ion-col>
        <ion-col size="4">
          <img [src]="this.risk.risk_area_image">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row class="p-top-15">
    <ion-col size="12">
      Recomendation
      <ion-row>
        <ion-col size="8" class="recomendation-text">
          {{this.risk.recommendation}}
        </ion-col>
        <ion-col size="4">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>