.patient-dashboard {
    .heading-box {
        font-size: 24px;
        padding-top: 20px;
    }
    .sub-heading-label {
        font-size: 12px;
    }
    .value {
        font-size: 18px;
        padding-top: 6px;
        padding-bottom: 12px;
    }
    .xl-value {
        font-size: 18px;
        padding-top: 6px;
        padding-bottom: 12px;
    }
    .action-label {
        font-size: 12px;
        color: #00B4FF;
    }
    .high-risk-text {
        font-size: 20px;
        color:#FF4747;
    }
    .recomendation-text {
        font-size: 20px;
        color: black;
    }
    .p-top-15 {
        padding-top: 15px;
    }
}