<p>
  skin-assessment works!
</p>
<ion-grid>
  <ion-row class="skin">
      <ion-col size="2"><label class="label">Wound</label></ion-col>
      <ion-col size="10"><label>Yes</label><input type="radio" name="yes" value="yes">
      <label>No</label><input type="radio" name="no" value="no"></ion-col>
      <ion-col size="2"><label class="label">Redness</label></ion-col>
      <ion-col size="10"><label>Yes</label><input type="radio" name="yes" value="yes">
      <label>No</label><input type="radio" name="no" value="no"></ion-col>
      <ion-col size="2"><label class="label">Infection</label></ion-col>
      <ion-col size="10"><label>Yes</label><input type="radio" name="yes" value="yes">
      <label>No</label><input type="radio" name="no" value="no"></ion-col>

      <ion-col size="2"><label class="label">Odour</label></ion-col>
      <ion-col size="10"><select class="input" name="odour">
          <option>Yes</option>
          <option>No</option>
        </select></ion-col>
        <ion-col size="10"><select class="input" name="odour">
          <option>Yes</option>
          <option>No</option>
        </select></ion-col>
        <ion-col size="10"><select class="input" name="odour">
          <option>Yes</option>
          <option>No</option>
        </select></ion-col>
  </ion-row>
</ion-grid>