<ion-row class="row" *ngIf="showCreateAssessment">
  <ion-row style="width:100%">
    <ion-col style="padding-top: 15px;">
      <span class="assesment-history-heading">New Assessment Records</span>
    </ion-col>
    <ion-col style="text-align: right">
      <ion-button type="submit" (click)="onShowHistory()">Assessment History</ion-button>
    </ion-col>
  </ion-row>
</ion-row>
<ion-col size='8' class="assessmenttabs" *ngIf="showCreateAssessment">
  <ul>
    <li style="width:25%" *ngFor="let config of this.tabConfig"><span (click)="onTabSelect(this.config)"
        [ngClass]="{'active' : this.selectedTab == this.config.name}">{{this.config.title}}</span></li>
  </ul>
  <div *ngIf="this.selectedTab === 'skin-assessment'">
    <app-skin-assessment></app-skin-assessment>
  </div>
  <div *ngIf="this.selectedTab === 'risk-assessment'">
    <app-risk-assessment></app-risk-assessment>
  </div>
</ion-col>


<!-- Assessment History Header -->
<ion-grid *ngIf="!showCreateAssessment">
  <ion-row>
    <ion-col style="padding-top: 15px;">
      <span class="assesment-history-heading">Assessment History</span>
    </ion-col>
    <ion-col style="text-align: right">
      <ion-button type="submit" (click)="onCreateNew()">New Assessment</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Assessment History Body -->
<ion-grid class="assesment-body" *ngIf="!showCreateAssessment">
  <ion-row>
    <ion-col size="4">
      <ion-header (click)="toggleList('risk')">
        <span class="drop-down-heading">Risk Assessment</span>
        <ion-icon *ngIf="!showRiskItems" style="float:right" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="showRiskItems" style="float:right" ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </ion-header>
      <ion-list class="assesment-list" *ngIf="showRiskItems">
        <ion-item *ngFor="let assesment of this.riskAssessmentData" (click)="onAssessmentSelection('risk',assesment)">
          <div class="item-content" [ngClass]="{'active' : assesment == this.selectedAssessmentData}">
            {{assesment.created_at | date:'short'}} 
          </div>
        </ion-item>
        <ion-item *ngIf="this.riskAssessmentData.length === 0 ">
          No Assessment Available
        </ion-item>
      </ion-list>
      <ion-header (click)="toggleList('skin')">
        <span class="drop-down-heading">Skin Assessment</span>
        <ion-icon *ngIf="!showSkinItems" style="float:right" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="showSkinItems" style="float:right" ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </ion-header>
      <ion-list class="assesment-list" *ngIf="showSkinItems">
        <ion-item *ngFor="let assesment of this.skinAssessmentData" (click)="onAssessmentSelection('skin', assesment)">
          <div class="item-content" [ngClass]="{'active' : assesment == this.selectedAssessmentData}">
            {{assesment.created_at | date:'short'}}
          </div>
        </ion-item>
        <ion-item *ngIf="this.skinAssessmentData.length === 0 ">
          No Assessment Available
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="8" style="padding: 0px 30px 0px 30px;">
      <div *ngIf="selectedAssessmentType && selectedAssessmentType.length > 0">
        <div *ngIf="selectedAssessmentType === 'risk'" class="assessment-details">
          <div class="assesment-header">
            Risk Assessment
          </div>
          <div class="date-label">
            Date assessed
          </div>
          <div class="time-stamp">
            {{selectedAssessmentData.created_date | date:'short'}}
          </div>
          
          <div style="overflow: auto;max-height: calc(100vh - 270px);">
          <table style="width:100%;margin: 25px;">
            <tr>
              <td>Sensory perception</td>
              <td>{{selectedAssessmentData.risk_assessment.sensory_perception}}</td>
            </tr>
            <tr>
              <td>Moisture</td>
              <td>{{selectedAssessmentData.risk_assessment.moisture}}</td>
            </tr>
            <tr>
              <td>Activity</td>
              <td>{{selectedAssessmentData.risk_assessment.activity}}</td>
            </tr>
            <tr>
              <td>Mobility</td>
              <td>{{selectedAssessmentData.risk_assessment.mobility}}</td>
            </tr>
            <tr>
              <td>Nutrition</td>
              <td>{{selectedAssessmentData.risk_assessment.nutrition}}</td>
            </tr>
            <tr>
              <td>Friction / Shear</td>
              <td>{{selectedAssessmentData.risk_assessment.friction}}</td>
            </tr>
          </table>
          <table style="width:100%;margin: 25px;">
            <tr>
              <td style="font-weight:400">Other factors</td>
              <td></td>
            </tr>
            <tr>
              <td>Pressure injury</td>
              <td>{{selectedAssessmentData.other_factors.previous_pressure_injury}}</td>
            </tr>
            <tr>
              <td>Diabetic</td>
              <td>{{selectedAssessmentData.other_factors.diabetic}}</td>
            </tr>
            <tr>
              <td>Smoker</td>
              <td>{{selectedAssessmentData.other_factors.smoker}}</td>
            </tr>
            <tr>
              <td>Cardiovascular disease</td>
              <td>{{selectedAssessmentData.other_factors.cardiovascular_disease}}</td>
            </tr>
            <tr>
              <td>Kideny Disease</td>
              <td>{{selectedAssessmentData.other_factors.kidney_disease}}</td>
            </tr>
            <tr>
            <tr>
              <td>Respiratory</td>
              <td>{{selectedAssessmentData.other_factors.respiratory_condition}}</td>
            </tr>
            <tr>
              <td>Anti cogulant</td>
              <td>{{selectedAssessmentData.other_factors.anti_coagulants}}</td>
            </tr>
            <tr>
              <td>Urogenetal</td>
              <td>{{selectedAssessmentData.other_factors.urogenital_condition}}</td>
            </tr>
            <tr>
              <td>Sepsis</td>
              <td>{{selectedAssessmentData.other_factors.sepsis}}</td>
            </tr>

            <tr>
              <td>Pneumonia</td>
              <td>{{selectedAssessmentData.other_factors.pneumonia}}</td>
            </tr>
            <tr>
              <td>Anemia</td>
              <td>{{selectedAssessmentData.other_factors.anemia_or_haemoglobinopathies}}</td>
            </tr>
            <tr>
              <td>Bone Infections</td>
              <td>{{selectedAssessmentData.other_factors.bone_infections}}</td>
            </tr>
            <tr>
              <td>Paralysis</td>
              <td>{{selectedAssessmentData.other_factors.paralysis}}</td>
            </tr>
            <tr>
              <td>Muscular dystrophy</td>
              <td>{{selectedAssessmentData.other_factors.muscular_dystrophy_myopathies}}</td>
            </tr>
            <tr>
              <td>Hip or knee surgery</td>
              <td>{{selectedAssessmentData.other_factors.hip_or_knee_surgery}}</td>
            </tr>
          </table>
          </div>

        </div>
        <div *ngIf="selectedAssessmentType === 'skin'">
          <div class="assesment-header">
            Skin Assesment
          </div>
          <ion-row>
            <ion-col size="6">
              <div class="date-label">
                Date assesed
              </div>
              <div class="time-stamp">
                {{selectedAssessmentData.created_at  | date:'short'}}
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="label">
                No of wounds
              </div>
              <div class="time-stamp">
                2
              </div>
            </ion-col>
          </ion-row>

          <div style="overflow: auto;max-height: calc(100vh - 270px);">
            <table style="width:100%;border-bottom: solid 1px lightgray;"
            *ngFor="let assesment of this.selectedAssessmentData.wounds">
            <tr>
              <td style="font-weight:400">Assessment No {{assesment.id}}</td>
              <td></td>
            </tr>
            <tr>
              <td>Wound</td>
              <td>
                <div>{{assesment.wound_area}}</div>
              </td>
            </tr>
            <tr>
              <td>Redness</td>
              <td>{{assesment.redness}}</td>
            </tr>
            <tr>
              <td>Infection</td>
              <td>{{assesment.infection}}</td>
            </tr>
            <tr>
              <td>Odour</td>
              <td>{{assesment.odour}}</td>
            </tr>
            <tr>
              <td>Pain</td>
              <td>{{assesment.pain}}</td>
            </tr>
            <tr>
              <td>Moisture type</td>
              <td>{{assesment.moisture_type}}</td>
            </tr>
            <tr>
              <td>Edges</td>
              <td>{{assesment.edges}}</td>
            </tr>
            <tr>
              <td>Measurement</td>
              <td>
                <div>Length: {{assesment.measurements_length}}</div>
                <div>Width: {{assesment.measurements_width}}</div>
                <div>Depth: {{assesment.measurements_depth}}</div>
              </td>
            </tr>
          </table>
          </div>
        </div>
      </div>

      <div *ngIf="selectedAssessmentType  === undefined" class="no-assessment">
        Please select an Assessment to view details.
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
