@import "../../theme/variables.scss";

.create-profile-heading-box {
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px #808080;
  color: #808080;
  .create-profile-heading {
    font-size: 18px;
  }
}

.patientprofiletitle {
  margin-left: 13%;
  color: $lenexa-theme-bg;
  font-size: 24px;
}
.patientprofile {
  margin-left: 13%;
  padding: 1.5% 4% 1% 4%;
  width: 74%;
  font-size: 12px;
  border: 1px solid black;

  .label {
    min-width: 8vw;
    display: inline-block;
    color: $lenexa-theme-bg;
  }
  .gender {
    min-width: 34%;
  }
}
.text {
  font-size: 11px;
  margin-top: -1%;
  margin-left: 13%;
}
.riskassessmenttitle {
  margin-left: 13%;
  margin-top: 2%;
  color: $lenexa-theme-bg;
  font-size: 24px;
}
.scale {
  float: right;
  margin-right: 14%;
  margin-top: -2%;
  font-size: 12px;
}
.riskassessment {
  margin-left: 13%;
  padding: 1.5% 4% 1% 4%;
  width: 74%;
  font-size: 12px;
  border: 1px solid black;

  .label {
    min-width: 8vw;
    display: inline-block;
    color: $lenexa-theme-bg;
  }
}
.otherdetailstitle {
  margin-left: 13%;
  margin-top: 2%;
  color: $lenexa-theme-bg;
  font-size: 24px;
}
.otherdetails {
  margin-left: 13%;
  padding: 1.5% 4% 1% 4%;
  width: 74%;
  font-size: 12px;
  margin-bottom: 2%;
  border: 1px solid black;
  .table {
    width: 100%;
    td {
      padding: 6px 36px 6px 1px;
    }
  }
  .input {
    margin-right: 15%;
    min-width: 20%;
    color: $lenexa-theme-bg;
  }
  .box {
    margin-right: 1%;
  }
  .row1 {
    margin-top: 2%;
  }
  ion-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 1%;
  }
}
