#wrapper {
  margin-top: 50px;
  .tick {
    line {
      stroke: black;
    }
  }
  #xaxis text,
  #yaxis text {
    font-size: 14px;
  }
  path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width: 2px;
  }
}

.pressure-tooltip {
  width:150px;
  position: absolute;
  background-color: white;
  color: rgba(0, 0, 0, 1.0);
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, .2);
  z-index: 10000;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-align: left;
  pointer-events: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  table {
    width: 100%;
    td {
      padding: 3px;
    }
  }
}
.status-box {
  font-size: 18px;
  padding-top: 150px;
}
.item-center {
  text-align: center;
  width: 100%;
}